@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fetch and Store</h1>
    <p class="lead">This app is a homework assignment.</p>
</div>

<div class="row centered" ng-controller="FetchCtrl" >
    <div class="col-lg-12">
        <h2>Getting started</h2>
        <p>
           Hello Angular!
            1+2 = {{1+2}}
        </p>
        <form>
            <div class="dropdown open">
                <select class="dropdown-menu" aria-labelledby="dropdownGetButton">
                    <option ng-click="getButtonHasBeenClicked" id="getButton" class="dropdown-item" >GET</option>
                    <option ng-click="headButtonHasBeenClicked" id="headButton" class="dropdown-item">HEAD</option>          
                </select>
            </div>
            <br/>
            <br/>
            <div>
                <div>
                    <label>
                        URL:
                        <input type="url"  ng-model="address" placeholder="http://" class="urlInput"/>
                    </label>
                    <button ng-click="URLmethod()"class="fetchButton">FETCH</button>
                    <p>Status Code for your URL: {{status}}</p>
                    <p>URL Address: {{address}}</p>         
                    <p>Request/Response Time in Milliseconds: {{elapsed}}</p>
                </div>
                <p>Examples of websites with various status codes:</p>
                <p><a class="btn btn-default" href="http://httpstat.us/404">404 Example</a></p>
                <p><a class="btn btn-default" href="http://sandrakjones.com/">200 Example</a></p>
                <p><a class="btn btn-default" href="http://httpstat.us/300">300 Example</a></p>
                
              </div>
        </form>
       
    </div> 
   


</div>

